{% extends 'base.html' %}

{% block content %}

<div class="card mx-auto" style="width: 76rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
        <span style="font-size: 1.25rem;" class="card-title mb-3">Shortlisted Applicants for {{job.title}}
            Position</span>
        <a class="btn btn-primary text-right" href="{% url 'all-applicants' job.pk %}">View All
            Applicants</a>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Location</th>
                    <th scope="col">Job Position/Title</th>
                    <th scope="col">Key Skills</th>
                    <th scope="col">Application Date</th>
                    <th scope="col">Action</th>
                    <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for applicant in shortlisted_applicants %}
                <tr>
                    <td>{{applicant.user.resume.first_name}}</td>
                    <td>{{applicant.user.resume.surname}}</td>
                    <td>{{applicant.user.resume.location}}</td>
                    <td>{{applicant.user.resume.job_title}}</td>
                    <td>{{applicant.user.resume.key_skills}}</td>
                    <td>{{applicant.timestamp}}</td>
                    <td><a target="_blank" href="{{applicant.user.resume.upload_resume.url}}"><small>Download Resume</small></a></td>
                    <td>
                        {% if applicant.shortlisted %}
                            <a href="{% url 'remove_from_shortlist' job.pk applicant.user.pk %}">Remove from Shortlist</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
