{% extends 'base.html' %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}

<section>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class=" py-5">
            <div class="row">
                <div class="col-8">
<!--                    <img src="{{ job.company.logo.url }}" alt="{{ job.company.name }} Logo" width="150" height="auto">-->
                    <h2 class="display-5 fw-bold">{{job.title}}</h2>
                    <p class="col-md-8 fs-5 mt-3">
                        {{job.state}} | {{job.job_type}} | BDT {{job.salary|intcomma}} | <a href="#" target="_blank"
                                                                                  style="text-decoration: none;">
                        {{job.company.website}}</a>
                    </p>
                    {% if user.is_authenticated %}
                    {% if has_applied == False %}
                    <a href="{% url 'apply-to-job' job.pk %}" class="btn btn-primary btn-lg">Apply Now</a>
                    {% else %}
                    <p><span class="text-danger">You have already applied for this job</span></p>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login to Apply</a>
                    {% endif %}
                </div>
                <div class="col-4">
                    <div class="row company">
                        <div class="company-details">
                            <h4 class="title">About</h4>
                            <p class="text fw-bold">{{job.company.name}}</p>
                            <p class="text">{{job.company.city}}, {{job.company.state}}</p>
                            <p class="text">Established: {{job.company.est_date}}</p>
                        </div>
                        {% if job.company.logo %}
                        <div class="company-logo">

                                <img src="{{ job.company.logo.url }}" alt="{{ job.company.name }} Logo" width="150"
                                     height="auto">
                            {% else %}
                                <p>No logo available</p>

                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div>
    <section>
        <h5>Job Requirements</h5>
        <p>
           {{job.requirements}}
        </p>
    </section>
</div> <br>

<div>
    <section>
        <h5>Ideal Candidate</h5>
        <p>
           {{job.ideal_candidate}}
        </p>
    </section>
</div> <br>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Required Skills</h5>
                <p class="card-text">{{job.required_skills}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"></small>
            </div>
        </div>
    </div>

    <div class="col">
<!--        <div class="card h-100">-->

<!--            <div class="card-body">-->
<!--                <h5 class="card-title">About Company</h5>-->
<!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to-->
<!--                    additional content. This card has even longer content than the first to show that equal-->
<!--                    height action.</p>-->
<!--            </div>-->
<!--            <div class="card-footer">-->
<!--                <small class="text-muted"></small>-->
<!--            </div>-->
<!--        </div>-->
        
        <div class="card">
    <div class="card-body">
        <h5 class="card-title">More Jobs from {{ job.company.name }}</h5>
        <ul>
            {% for other_job in other_jobs %}

                <li><a href="{% url 'job-details' other_job.pk %}">{{ other_job.title }}</a></li>

            {% endfor %}
        </ul>
    </div>
            <div class="card-footer"></div>
</div>

    </div>
</div> <br>

<!--<script>-->
<!--    document.getElementById("apply-now-button").addEventListener("click", function(event) {-->
<!--        event.preventDefault();-->
<!--        var confirmApply = confirm("Are you sure you want to apply for this job?");-->
<!--        if (confirmApply) {-->
<!--            window.location.href = event.target.href;-->
<!--        }-->
<!--    });-->
<!--</script>-->

{% endblock content %}